.loader { border: 5px solid #232323; border-top: 5px solid #1da1f2; border-radius: 50%; width: 32px; height: 32px; animation: spin 1s linear infinite; margin: 16px auto;}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); } }
