<nav class="topmenu" id="topMenu">
  <button class="theme-toggle" id="themeToggle" aria-label="Toggle theme">
    <i class="fa-regular fa-moon"></i>
  </button>
  <div class="topmenu-scroll" id="topMenuScroll" tabindex="0">
    <a class="topmenu-link" href="#new-users" id="menuNewUsers"><i class="fa-solid fa-user-plus"></i><span>New Users</span></a>
    <a class="topmenu-link" href="#trending-keywords" id="menuTrendingKeywords"><i class="fa-solid fa-fire"></i><span>Trending Keywords</span></a>
    <a class="topmenu-link" href="#trending-hashtags" id="menuTrendingHashtags"><i class="fa-solid fa-hashtag"></i><span>Trending Hashtag</span></a>
    <a class="topmenu-link" href="#mentions" id="menuMentions"><i class="fa-solid fa-at"></i><span>Mentions</span></a>
    <a class="topmenu-link" href="#reposts" id="menuReposts"><i class="fa-solid fa-retweet"></i><span>Reposts</span></a>
    <a class="topmenu-link" href="#latest-content" id="menuLatestContent"><i class="fa-solid fa-clock"></i><span>Latest</span></a>
    <a class="topmenu-link" href="#following" id="menuFollowing"><i class="fa-solid fa-user-group"></i><span>Following</span></a>
    <a class="topmenu-link" href="#tagged" id="menuTagged"><i class="fa-solid fa-tag"></i><span>Tagged You</span></a>
  </div>
</nav>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
